<a href="https://colab.research.google.com/github/Shasuf/Recommendation-Systems/blob/main/Text_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# import libraries
print("\n*** Import Libraries ***")
# hides all warnings
import warnings
warnings.filterwarnings('ignore')
# pandas 
import pandas as pd
# numpy
import numpy as np
# matplotlib 
import matplotlib.pyplot as plt
#%matplotlib inline
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (10, 5)
# sns
import seaborn as sns
print("Done ...")

*** Import Libraries ***
Done ...

In [6]:
# import utils stored in g-drive / My Drive  / Collab Notebooks
print("\n*** Import Utils ***")
import sys
from google.colab import drive
drive.mount('/content/gdrive')
# To add a directory with your code into a list of directories 
# which will be searched for packages
sys.path.append('/content/gdrive/My Drive/Colab Notebooks')
import utils
print("Done ...")

##############################################

*** Import Utils ***
Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
Done ...

In [7]:
print("\n*** Read Data ***")
df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/data/mldb-movies-metadata.csv', low_memory=False) # when we use large amount of data
print("Done ...")

*** Read Data ***
Done ...

In [8]:

##############################################################
# Exploratory Data Analysis
##############################################################

# rows & cols
print("\n*** Rows & Cols ***")
print("Rows",df.shape[0])
print("Cols",df.shape[1])

*** Rows & Cols ***
Rows 45460
Cols 24

In [9]:
# columns
print("\n*** Column Names ***")
print(df.columns)

*** Column Names ***
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [10]:
# info
print("\n*** Structure ***")
print(df.info())

*** Structure ***
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45460 entries, 0 to 45459
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45460 non-null  bool
 1   belongs_to_collection  4490 non-null   object
 2   budget                 45460 non-null  int64
 3   genres                 45460 non-null  object
 4   homepage               7778 non-null   object
 5   id                     45460 non-null  int64
 6   imdb_id                45443 non-null  object
 7   original_language      45449 non-null  object
 8   original_title         45460 non-null  object
 9   overview               44506 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  int64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  bool
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 7.7+ MB
None

In [11]:
# data types
print("\n*** Data Types ***")
print(df.dtypes)

*** Data Types ***
adult                       bool
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                    int64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                       bool
vote_average             float64
vote_count                 int64
dtype: object

In [12]:
# head
print("\n*** Head ***")
print(df.head())

*** Head ***
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ...  release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...    30-10-1995
1  When siblings Judy and Peter discover an encha...  ...    15-12-1995
2  A family wedding reignites the ancient feud be...  ...    22-12-1995
3  Cheated on, mistreated and stepped on, the wom...  ...    22-12-1995
4  Just when George Banks has recovered from his ...  ...    10-02-1995

     revenue runtime                                   spoken_languages  \
0  373554033    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7       5415
1                      Jumanji  False          6.9       2413
2             Grumpier Old Men  False          6.5         92
3            Waiting to Exhale  False          6.1         34
4  Father of the Bride Part II  False          5.7        173

[5 rows x 24 columns]

In [13]:
# head
print(df[['title','overview']].head())   #we only need title and overview

                         title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview
0  Led by Woody, Andy's toys live happily in his ...
1  When siblings Judy and Peter discover an encha...
2  A family wedding reignites the ancient feud be...
3  Cheated on, mistreated and stepped on, the wom...
4  Just when George Banks has recovered from his ...

In [14]:
# set variables
print("\n*** Set Vars ***")
varTitle = 'title'
varTexts = 'overview'
print('Title   :',varTitle)
print('Texts   :',varTexts)

*** Set Vars ***
Title   : title
Texts   : overview

In [15]:
# handle nulls in key cols 
print("\n*** Handle Nulls Imp Cols ***")
# cols to drop
colNames = [varTitle, varTexts]
# drop NaN
df = df.dropna(subset=colNames)
print("Done ...")

*** Handle Nulls Imp Cols ***
Done ...

In [16]:
# handle duplicate titles
print("\n*** Remove Duplicate Titles ***")
df = df.drop_duplicates(subset=varTitle)
print("Done ...")

*** Remove Duplicate Titles ***
Done ...

In [17]:
# convert into lowercase
print("\n*** Lower Case ***")
df[varTexts] = [t.lower() for t in df[varTexts]]
print(df[varTexts].head())

*** Lower Case ***
0    led by woody, andy's toys live happily in his ...
1    when siblings judy and peter discover an encha...
2    a family wedding reignites the ancient feud be...
3    cheated on, mistreated and stepped on, the wom...
4    just when george banks has recovered from his ...
Name: overview, dtype: object

In [18]:
# remove punctuations
print("\n*** Remove Punctuations ***")
import string
df[varTexts] = [t.translate(str.maketrans('','',string.punctuation)) for t in df[varTexts]]
print(df[varTexts].head())

*** Remove Punctuations ***
0    led by woody andys toys live happily in his ro...
1    when siblings judy and peter discover an encha...
2    a family wedding reignites the ancient feud be...
3    cheated on mistreated and stepped on the women...
4    just when george banks has recovered from his ...
Name: overview, dtype: object

In [19]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
# remove all stop words
# original found at http://en.wikipedia.org/wiki/Stop_words
print('\n*** Remove Stop Words ***')
#def stop words
import nltk.corpus
lStopWords = nltk.corpus.stopwords.words('english')
# def function
def remStopWords(sText):
    global lStopWords
    lText = sText.split()
    lText = [t for t in lText if t not in lStopWords]    
    return (' '.join(lText))

*** Remove Stop Words ***

In [21]:
# iterate
df[varTexts] = [remStopWords(t) for t in df[varTexts]]
print(df[varTexts].head())

0    led woody andys toys live happily room andys b...
1    siblings judy peter discover enchanted board g...
2    family wedding reignites ancient feud nextdoor...
3    cheated mistreated stepped women holding breat...
4    george banks recovered daughters wedding recei...
Name: overview, dtype: object

In [22]:
# remove all bad words / pofanities ...
# original found at http://en.wiktionary.org/wiki/Category:English_swear_words
print('\n*** Remove Profane Words ***')
lProfWords = ["arse","ass","asshole","bastard","bitch","bloody","bollocks","child-fucker","cunt","damn","fuck","goddamn","godsdamn","hell","motherfucker","shit","shitass","whore"]
# def function
def remProfWords(sText):
    global lProfWords
    lText = sText.split()
    lText = [t for t in lText if t not in lProfWords]    
    return (' '.join(lText))
    # iterate
df[varTexts] = [remProfWords(t) for t in df[varTexts]]
print(df[varTexts].head())

*** Remove Profane Words ***
0    led woody andys toys live happily room andys b...
1    siblings judy peter discover enchanted board g...
2    family wedding reignites ancient feud nextdoor...
3    cheated mistreated stepped women holding breat...
4    george banks recovered daughters wedding recei...
Name: overview, dtype: object

In [23]:
# retain words with len > 3
print('\n*** Remove Short Words ***')
# def function
def remShortWords(sText):
    lText = sText.split()
    lText = [t for t in lText if len(t)>3]    
    return (' '.join(lText))
# iterate
df[varTexts] = [remShortWords(t) for t in df[varTexts]]
print(df[varTexts].head())

*** Remove Short Words ***
0    woody andys toys live happily room andys birth...
1    siblings judy peter discover enchanted board g...
2    family wedding reignites ancient feud nextdoor...
3    cheated mistreated stepped women holding breat...
4    george banks recovered daughters wedding recei...
Name: overview, dtype: object

In [24]:
# info
print("\n*** Structure ***")
print(df.info())

*** Structure ***
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41369 entries, 0 to 45459
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  41369 non-null  bool
 1   belongs_to_collection  4301 non-null   object
 2   budget                 41369 non-null  int64
 3   genres                 41369 non-null  object
 4   homepage               7224 non-null   object
 5   id                     41369 non-null  int64
 6   imdb_id                41355 non-null  object
 7   original_language      41359 non-null  object
 8   original_title         41369 non-null  object
 9   overview               41369 non-null  object
 10  popularity             41369 non-null  float64
 11  poster_path            41038 non-null  object
 12  production_companies   41369 non-null  object
 13  production_countries   41369 non-null  object
 14  release_date           41301 non-null  object
 15  revenue                41369 non-null  int64
 16  runtime                41369 non-null  float64
 17  spoken_languages       41369 non-null  object
 18  status                 41307 non-null  object
 19  tagline                19045 non-null  object
 20  title                  41369 non-null  object
 21  video                  41369 non-null  bool
 22  vote_average           41369 non-null  float64
 23  vote_count             41369 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 7.3+ MB
None

In [25]:
# print varTexts 
print("\n*** varTexts Head ***")
print(df[varTexts].head())
for i in range(0, 5):
    print(df[varTexts][i],'\n')
print("Done ...")

*** varTexts Head ***
0    woody andys toys live happily room andys birth...
1    siblings judy peter discover enchanted board g...
2    family wedding reignites ancient feud nextdoor...
3    cheated mistreated stepped women holding breat...
4    george banks recovered daughters wedding recei...
Name: overview, dtype: object
woody andys toys live happily room andys birthday brings buzz lightyear onto scene afraid losing place andys heart woody plots buzz circumstances separate buzz woody owner eventually learns aside differences

siblings judy peter discover enchanted board game opens door magical world unwittingly invite alan adult whos trapped inside game years living room alans hope freedom finish game proves risky three find running giant rhinoceroses evil monkeys terrifying creatures

family wedding reignites ancient feud nextdoor neighbors fishing buddies john meanwhile sultry italian divorcée opens restaurant local bait shop alarming locals worry shell scare fish away shes less interested seafood cooking time

cheated mistreated stepped women holding breath waiting elusive good break string lessthanstellar lovers friends confidants vannah bernie robin talk determined find better breathe

george banks recovered daughters wedding receives news shes pregnant georges wife nina expecting planning selling home thats plan like george change arrival grandchild

Done ...

In [ ]:
##################################################
# Content-Based Recommender Engine - Using CountVectorizer & Cosine Similarity
##################################################
# Recommender System based on similarity in columns varTexts
# a system that recommends items that are similar to a particular movie more
# specifically, pairwise similarity scores are computed for all items based
# on their plot descriptions and recommend items based on that similarity score.

# In its current form, it is not possible to compute the similarity between any 
# two text unit. To do this, we need to compute the word vectors of each text unit 
# or document, as it will be called from now on.

# We will use CountVectoriser learnt in NLP vectors for each document. This will 
# give you a matrix which stores similarity score for each movie pair
#
# scikit-learn gives you a built-in CountVectorizer class that produces the 
# matrix in a couple of lines.

# the next step is to create a count matrix using CountVectorizer()

In [26]:
# import CountVectorizer and create the count matrix
print("\n*** Imports ***")
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
print("Done ...")

*** Imports ***
Done ...

In [27]:
# use CountVectorizer
print("\n*** Count Vactorizer ***")
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df[varTexts])
print(count_matrix.shape)
print("Done ...")

*** Count Vactorizer ***
(41369, 85231)
Done ...

In [28]:
# output the shape of tfidf_matrix
print("\n*** Count Matrix Properties ***")
print("Shape:",count_matrix.shape)
print("Words:",count_matrix.shape[0])
print("Docs :",count_matrix.shape[1])

*** Count Matrix Properties ***
Shape: (41369, 85231)
Words: 41369
Docs : 85231

In [29]:
# print
print("\n*** Count Matrix Sample - Top 5 ***")
print(count_matrix[0:5])

*** Count Matrix Sample - Top 5 ***
  (0, 82873)	3
  (0, 3754)	3
  (0, 76774)	1
  (0, 43835)	1
  (0, 32449)	1
  (0, 64123)	1
  (0, 8537)	1
  (0, 10304)	1
  (0, 11179)	3
  (0, 43485)	1
  (0, 65969)	1
  (0, 2215)	1
  (0, 44334)	1
  (0, 57428)	1
  (0, 33046)	1
  (0, 57645)	1
  (0, 14072)	1
  (0, 67200)	1
  (0, 54891)	1
  (0, 24398)	1
  (0, 42704)	1
  (0, 5149)	1
  (0, 19938)	1
  (1, 64123)	1
  (1, 68567)	1
  :	:
  (3, 19538)	1
  (3, 8102)	1
  (3, 10115)	1
  (4, 81740)	1
  (4, 67985)	1
  (4, 29428)	2
  (4, 6651)	1
  (4, 61747)	1
  (4, 18221)	1
  (4, 61601)	1
  (4, 51977)	1
  (4, 58760)	1
  (4, 29430)	1
  (4, 82325)	1
  (4, 52260)	1
  (4, 24874)	1
  (4, 57488)	1
  (4, 66990)	1
  (4, 34304)	1
  (4, 75332)	1
  (4, 57465)	1
  (4, 43498)	1
  (4, 12995)	1
  (4, 4923)	1
  (4, 30761)	1

In [30]:
# print
print("\n*** Count Matrix Sample - Bot 5 ***")
print(count_matrix[-5:-1])

*** Count Matrix Sample - Bot 5 ***
  (0, 83480)	1
  (0, 67985)	1
  (0, 82798)	1
  (0, 1619)	1
  (0, 1727)	1
  (0, 82963)	1
  (0, 81391)	1
  (0, 26489)	1
  (0, 26025)	1
  (0, 17976)	1
  (0, 75720)	1
  (0, 16981)	1
  (0, 83465)	1
  (0, 20895)	1
  (0, 22315)	1
  (0, 74199)	1
  (0, 70348)	1
  (0, 59114)	1
  (0, 28804)	1
  (0, 43446)	1
  (0, 57065)	2
  (0, 42804)	1
  (0, 15201)	1
  (0, 28660)	1
  (0, 48283)	1
  :	:
  (3, 1538)	1
  (3, 72204)	1
  (3, 60066)	1
  (3, 72211)	2
  (3, 25363)	1
  (3, 21553)	1
  (3, 48713)	5
  (3, 74264)	1
  (3, 72212)	1
  (3, 75311)	1
  (3, 67927)	1
  (3, 76527)	1
  (3, 35063)	1
  (3, 57605)	1
  (3, 13048)	2
  (3, 36462)	1
  (3, 2040)	1
  (3, 40937)	1
  (3, 80472)	1
  (3, 72128)	1
  (3, 22323)	1
  (3, 48717)	1
  (3, 17346)	1
  (3, 42556)	1
  (3, 22675)	1

In [ ]:
#curve metrix shape 41369 which amounts to

In [ ]:
# compute the Cosine Similarity matrix based on the count_matrix
# caution ... this takes time
print("\n*** Cosine Similarity ***")
cosSimilarity = cosine_similarity(count_matrix, count_matrix)
print(cosSimilarity.shape)
print("Done ...")

*** Cosine Similarity ***

In [1]:
# output the shape of cosSimilarity
print("\n*** Cosine Similarity Matrix ***")
print("Shape:",cosSimilarity.shape)
print("Rows :",cosSimilarity.shape[0])
print("Cols :",cosSimilarity.shape[1])

*** Cosine Similarity Matrix ***

NameError: ignored

In [ ]:
# print
print("\n*** Cosine Similarity Sample - Bot 5 ***")
print(cosSimilarity[-5:-1])

In [ ]:
# reverse mapping as beforeprint("\n*** Cosine Similarity ***")
print("\n*** Reverse Title Index Map ***")
tIndex = pd.Series(df.index, index=df[varTitle])
print(tIndex.head())
print(tIndex.tail())
print("Done ...")

In [ ]:

##################################################
# Recommender Function
##################################################

# function that takes in movie title as input and outputs most similar items
print("\n*** Recommendation Function ***")
def getReccos(pTitle, vTopN=5):
    global cosSimilarity
    #pTitle = "The Godfather"
    #vTopN = 5
    # Get the index of the movie that matches the title
    try:
        idx = tIndex[pTitle]
        print(idx, pTitle)
    except:
        print("Title Not Found ...")
        return "Title Not Found ..."

In [ ]:
##################################################
# Function Calls
##################################################

# call the function
getReccos('The Godfather',10)
getReccos('Raiders of the Lost Ark')
getReccos('Red Sun')